layout node

# General
echo -e "Exporting general variables"
export OP_ACCOUNT_DOMAIN="my.1password.com"
export COMPAT_DATE="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/njuvxrshvgijxbpybbx2vhq7qu/compat_date)"

export CFSETUP_ACCOUNT_ID="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/k72eduq2khy2zqedcghqocccua/account_id)"
# export CFSETUP_API_TOKEN="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/k72eduq2khy2zqedcghqocccua/token)"
export CFSETUP_API_EMAIL="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/k72eduq2khy2zqedcghqocccua/email)"
export CFSETUP_API_KEY="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/k72eduq2khy2zqedcghqocccua/global_key)"
export NPM_PUBLISH_TOKEN="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/c5kqn27uwx5zxvgj63wi2j6ntq/publish_root_token)"

# Template HELIOS
echo -e "Templating HELIOS variables"
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/helios_dev_vars.tpl --out-file=apps/helios/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/wrangler_env.tpl --out-file=apps/helios/.env --force >/dev/null

# Template HERMES
echo -e "Templating HERMES variables"
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/hermes_dev_vars.tpl --out-file=apps/hermes/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/wrangler_env.tpl --out-file=apps/hermes/.env --force >/dev/null
