layout node

export OP_ACCOUNT_DOMAIN="my.1password.com"
export COMPAT_DATE="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/dh6bdd3cxzpsspgldr5vkpsxsm/compat_date)"

# Template HELIOS
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=envrc_tpls/wrangler_dev_vars.tpl --out-file=apps/helios/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=envrc_tpls/wrangler_env.tpl --out-file=apps/helios/.env --force >/dev/null
