layout node

# General
echo -e "Exporting general variables"
export OP_ACCOUNT_DOMAIN="my.1password.com"
export COMPAT_DATE="$(op --account=${OP_ACCOUNT_DOMAIN} read op://h2apd5x5ncu6djh6svr3lcr25a/nztlf5np6ljbte7yhwi4xfsqjm/compat_date)"

export CFSETUP_ACCOUNT_ID="$(op --account=${OP_ACCOUNT_DOMAIN} read op://h2apd5x5ncu6djh6svr3lcr25a/jwis7zcfc2tcrvm4qxsw4mhknu/account_id)"
# export CFSETUP_API_TOKEN="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Private/jwis7zcfc2tcrvm4qxsw4mhknu/token)"
export CFSETUP_API_EMAIL="$(op --account=${OP_ACCOUNT_DOMAIN} read op://h2apd5x5ncu6djh6svr3lcr25a/jwis7zcfc2tcrvm4qxsw4mhknu/email)"
export CFSETUP_API_KEY="$(op --account=${OP_ACCOUNT_DOMAIN} read op://h2apd5x5ncu6djh6svr3lcr25a/jwis7zcfc2tcrvm4qxsw4mhknu/global_key)"
export NPM_PUBLISH_TOKEN="$(op --account=${OP_ACCOUNT_DOMAIN} read op://h2apd5x5ncu6djh6svr3lcr25a/gpwxrxcaff6ksvee6bgbmbqpca/publish_root_token)"

# Template HELIOS
echo -e "Templating HELIOS variables"
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/helios_dev_vars.tpl --out-file=pages_apps/helios/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/wrangler_env.tpl --out-file=pages_apps/helios/.env --force >/dev/null

# Template ODIN
echo -e "Templating ODIN variables"
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/odin_dev_vars.tpl --out-file=pages_apps/odin/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/wrangler_env.tpl --out-file=pages_apps/odin/.env --force >/dev/null

# Template HERMES
echo -e "Templating HERMES variables"
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/hermes_dev_vars.tpl --out-file=worker_apps/hermes/.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=env_tpls/wrangler_env.tpl --out-file=worker_apps/hermes/.env --force >/dev/null
