{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "importOrder": [
    "",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "<BUILTIN_MODULES>",
    "react",
    "^@remix-run/react",
    "^@remix-run/.*",
    "^remix-typedjson",
    "^remix-utils/.*",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@app|@components|@context|@hooks|@services|@config|@schema)(/.*)$",
    "",
    "^~[.]",
    "^[.]",
    "",
    "^@assets/.*",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindFunctions": [
    "clsx"
  ],
  "trailingComma": "none",
  "useTabs": false
}
