node_modules
.cache/
**/build/
pages_apps/**/styles
**/*.ignore.*
.DS_Store
pages_apps/**/functions/**/*
/package
.env
.env.*
!.env.example
/.github
/.idea
/.cache
/.wrangler
**/functions/\[\[path\]\].js
**/functions/\[\[path\]\].js.map
**/public/build
migrations/

/functions/_assets

packages/cfsetup/dist/
packages/cfsetup/emitted-types/
packages/cfsetup/coverage/
packages/cfsetup/CHANGELOG.md
packages/format-errors/package.json
packages/**/dist/**

fixtures/**/dist/**
**/vendor/**

**/*.d.ts

# Moved from /templates
*-lock.*
*.lock
*.log

# TurboRepo CodeGen .hbs files
**/*.hbs
dist
**/dist/**/*
