source_up_if_exists

# Template HELIOS
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=./wrangler_dev_vars.tpl --out-file=./.dev.vars --force >/dev/null
op --account=${OP_ACCOUNT_DOMAIN} inject --in-file=./wrangler_env.tpl --out-file=./.env --force >/dev/null
