{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx"],
  "printWidth": 120,
  "importOrder": [
    "",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "<BUILTIN_MODULES>",
    "react",
    "^@remix-run/react",
    "^@remix-run/.*",
    "^remix-typedjson",
    "^remix-utils/.*",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@app|@components|@context|@hooks|@services|@config|@schema)(/.*)$",
    "",
    "^~[.]",
    "^[.]",
    "",
    "^@assets/.*",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
